# SSH key used by this app server for remote operations
REMOTE_SSH_KEY=/home/ubuntu/.ssh/id_ed25519

# Destination DB admin access (used for DB/user creation and import)
TARGET_DB_HOST=aurora-moodle-cluster.cluster-xxxx.eu-west-3.rds.amazonaws.com
TARGET_DB_ADMIN_USER=admin_moodle
TARGET_DB_ADMIN_PASS=change_me